.main-nav {
  font-size: 28px;
  font-weight: 700px;
}

.main-nav a,
a:hover {
  text-decoration: none;
}

.nav-log-text {
  font-weight: 700;
  font-size: 32px;
  padding: 20px;
}

.main-menu{
    display: flex;
    justify-content: space-between;
    width: 300px;
    padding-right: 25px;
   
}

.main-menu a{
    font-weight: 400;
    text-decoration: none;
}

.main-menu a.active {
  font-weight: 700;
}

.navbar-toggler-icon{
  background-image: url('https://mdbootstrap.com/img/svg/hamburger7.svg?color=00285F');
}

.navbar-toggler{
  background-color: #F78B00;
}