.home-container{
  width: 100%;
  height: auto;
}

.main-nav {
  font-size: 28px;
  font-weight: 700px;
}

.main-nav #cartop-navbar{
  font-size: 18px;
}
.main-nav a,
a:hover {
  text-decoration: none;
}

.nav-log-text {
  font-weight: 700;
  font-size: 32px;
  padding: 20px;
}

.main-menu {
  display: flex;
  justify-content: space-between;
  width: 300px;
  padding-left: 28px;
}

.main-menu a {
  font-weight: 400;
  text-decoration: none;
}

.main-menu a.active {
  font-weight: 700;
}


.navbar-toggler{
  background-color: #F78B00;
}

@media(min-width: 768px){
  .main-nav {
    font-size: 32px;
    font-weight: 700px;
  }

  .main-nav #cartop-navbar{
    padding: 24px 20px 14px 20px;
    font-size: 24px;
  }
}

@media(min-width: 1200px){
  .main-nav{
    padding: 22px 150px 22px 150px;
  }
}
